<!-- Contact -->
<form name="kennisnmaken" action="/bedankt" data-netlify="true" class="row">




<label for="ikwilgraag"> Kruis aan wat van toepassing is:  <span class="required">*</span></label>
 

<label><input type="radio" name="ikwilgraag" value="rondleiding" >Ik wil graag kennis maken met de Wolkenwagen en/of uitgenodigd worden voor een rondleiding.</label>
<label><input type="radio" name="ikwilgraag" value="beschikkbare-plaatsen" id="beschikbare-plaatsen">Ik wil graag  informatie over beschikbare plaatsen.




<fieldset class="beschikbare-plaatsen">
  <label for="ingangsdatum">Ingangsdatum (min. leeftijd 2 jr) </label>

<div class="float-left">
  <label >Dag </label>
 <select name="ingang_dag">
  <option value="" selected="selected">Dag</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
  <option value="13">13</option>
  <option value="14">14</option>
  <option value="15">15</option>
  <option value="16">16</option>
  <option value="17">17</option>
  <option value="18">18</option>
  <option value="19">19</option>
  <option value="20">20</option>
  <option value="21">21</option>
  <option value="22">22</option>
  <option value="23">23</option>
  <option value="24">24</option>
  <option value="25">25</option>
  <option value="26">26</option>
  <option value="27">27</option>
  <option value="28">28</option>
  <option value="29">29</option>
  <option value="30">30</option>
  <option value="31">31</option>
</select>
</div>
 <div class="float-left">
  <label >Maand </label>
 <select name="ingang_maand">
  <option value="" selected="selected">Maand</option>
  <option value="1">jan</option>
  <option value="2">feb</option>
  <option value="3">mrt</option>
  <option value="4">apr</option>
  <option value="5">mei</option>
  <option value="6">jun</option>
  <option value="7">jul</option>
  <option value="8">aug</option>
  <option value="9">sep</option>
  <option value="10">okt</option>
  <option value="11">nov</option><option value="12">dec</option></select>
</div>

<div class="float-left">
  <label >Jaar </label>
 <select name="ingang_jaar">
 <option value="" selected="selected">Jaar</option>
 <option value="{{ dateFormat "2006" now }}">{{ dateFormat "2006" now }}</option>
 <option value="{{ dateFormat "2006" (now.AddDate 1 0 0)  }}">{{ dateFormat "2006" (now.AddDate 1 0 0)  }}</option>
 <option value="{{ dateFormat "2006" (now.AddDate 2 0 0)  }}">{{ dateFormat "2006" (now.AddDate 2 0 0)  }}</option>
 <option value="{{ dateFormat "2006" (now.AddDate 3 0 0)  }}">{{ dateFormat "2006" (now.AddDate 3 0 0)  }}</option>
</select>
</div>



  <label for="einddatum">Einddatum (max. leeftijd 4 jr) </label>
  <div class="float-left">
  <label >Dag </label>
 <select name="eind_dag">
  <option value="" selected="selected">Dag</option>
  <option value="1">1</option>
 <option value="2">2</option>
 <option value="3">3</option>
 <option value="4">4</option>
 <option value="5">5</option>
 <option value="6">6</option>
 <option value="7">7</option>
 <option value="8">8</option>
 <option value="9">9</option>
 <option value="10">10</option>
 <option value="11">11</option>
 <option value="12">12</option>
 <option value="13">13</option>
 <option value="14">14</option>
 <option value="15">15</option>
 <option value="16">16</option>
 <option value="17">17</option>
 <option value="18">18</option>
 <option value="19">19</option>
 <option value="20">20</option>
 <option value="21">21</option>
 <option value="22">22</option>
 <option value="23">23</option>
 <option value="24">24</option>
 <option value="25">25</option>
 <option value="26">26</option>
 <option value="27">27</option>
 <option value="28">28</option>
 <option value="29">29</option>
 <option value="30">30</option>
 <option value="31">31</option>
</select>
</div>
 <div class="float-left">
  <label >Maand </label>
 <select name="eind_maand"><option value="" selected="selected">Maand</option>
  <option value="1">jan</option>
 <option value="2">feb</option>
 <option value="3">mrt</option>
 <option value="4">apr</option>
 <option value="5">mei</option>
 <option value="6">jun</option>
 <option value="7">jul</option>
 <option value="8">aug</option>
 <option value="9">sep</option>
 <option value="10">okt</option>
 <option value="11">nov</option>
 <option value="12">dec</option>
</select>
</div>
<div class="float-left">
  <label >Jaar </label>
 <select name="eind_jaar">
 <option value="" selected="selected">Jaar</option>
 <option value="{{ dateFormat "2006" now }}">{{ dateFormat "2006" now }}</option>
 <option value="{{ dateFormat "2006" (now.AddDate 1 0 0)  }}">{{ dateFormat "2006" (now.AddDate 1 0 0)  }}</option>
 <option value="{{ dateFormat "2006" (now.AddDate 2 0 0)  }}">{{ dateFormat "2006" (now.AddDate 2 0 0)  }}</option>
 <option value="{{ dateFormat "2006" (now.AddDate 3 0 0)  }}">{{ dateFormat "2006" (now.AddDate 3 0 0)  }}</option>
 <option value="{{ dateFormat "2006" (now.AddDate 4 0 0)  }}">{{ dateFormat "2006" (now.AddDate 4 0 0)  }}</option>
 <option value="{{ dateFormat "2006" (now.AddDate 5 0 0)  }}">{{ dateFormat "2006" (now.AddDate 5 0 0)  }}</option>
 <option value="{{ dateFormat "2006" (now.AddDate 6 0 0)  }}">{{ dateFormat "2006" (now.AddDate 6 0 0)  }}</option>
 <option value="{{ dateFormat "2006" (now.AddDate 7 0 0)  }}">{{ dateFormat "2006" (now.AddDate 7 0 0)  }}</option>
 <option value="{{ dateFormat "2006" (now.AddDate 8 0 0)  }}">{{ dateFormat "2006" (now.AddDate 8 0 0)  }}</option>
</select>
</div>


<div>
<label for="gewenste-groep">Gewenste groep </label>
 <div id="gewenste-groep" >
 <label><input type="checkbox" name="maandag_ochtend" value="geselecteerd"> Maandag  8.00 – 12.30 uur </label>
 <label><input type="checkbox" name="maandag_middag" value="geselecteerd"> Maandag  12.30 – 15.30 uur </label>
 <label><input type="checkbox" name="dinsdag_ochtend" value="geselecteerd"> Dinsdag  8.00 – 12.30 uur </label>
 <label><input type="checkbox" name="dinsdag_middag" value="geselecteerd"> Dinsdag 12.30 – 15.30 uur </label>
 <label><input type="checkbox" name="woensdag_ochtend" value="geselecteerd"> Woensdag  8. - 12.30 uur (alleen ochtend) </label>
 <label><input type="checkbox" name="donderdag_ochtend" value="geselecteerd"> Donderdag  8.00 – 12.30 uur </label>
 <label><input type="checkbox" name="donderdag_middag" value="geselecteerd"> Donderdag 12.30 – 15.30 uur </label>
 <label><input type="checkbox" name="vrijdag_ochtend" value="geselecteerd"> Vrijdag 8.00 – 12.30 uur (alleen ochtend) </label>
</div>




  <label for="opmerkingen">Opmerkingen (geef ook aan indien u flexibel in de dagen bent)  </label>
 <textarea name="opmerkingen"></textarea>


</fieldset>
</label>


  <label for="naam">Uw naam <span class="required">*</span></label>
 <input type="text" id="naam" name="naam" value="" size="60" maxlength="128" required="">


  <label for="email">E-mailadres <span class="required">*</span></label>
 <input type="email" name="email" required="">


  <label for="telefoonnummer">Telefoonnummer <span class="required">*</span></label>
 <input type="text" id="telefoonnummer" name="telefoonnummer" value="" size="60" maxlength="15" required="">


  <label for="leeftijd-van-uw-kind2">Leeftijd van uw kind <span class="required">*</span></label>
 <select name="leeftijd_van_kind" required="">
  <option>0</option><option>1</option><option>2</option><option>3</option><option>4</option>
 </select>
<br><br>
<input type="submit" name="Indienen" value="Indienen" class="button purple">

</form>