{{ partial "cta" }}
<div class="footerbg">
<div class="light"></div>
<div class="dark"></div>
</div>
<footer class="main">


<ul class="row">
	<li><a href="/">Home</a></li>
	<li class="hide-for-small">|</li>
	<li><a href="/veiligheid-en-kwaliteit">Privacy van gegevens en Algemene voorwaarden</a></li>
</ul>
<ul class="row">
 	<li><strong>Stichting De Wolkenwagen</strong></li>
 	<li>Kraaybeek 82</li>
 	<li>3971 LJ  Driebergen</li>
 	<li>tel 0343 - 533185</li>
 	<li><a href="mailto:info@dewolkenwagen.nl">info@dewolkenwagen.nl</a></li>
</ul>


</footer>
