<header class="main">
	<div class="headerbg">
		<div class="light"></div>
		<div class="dark"></div>
	</div>
	<nav>
		<input type="checkbox" id="overlay-input" />
		<label for="overlay-input" id="overlay-button"><div class="show-for-small menu-title">MENU</div><span></span></label>
		<ul id="main-menu" class="main-nav right">
			<li><a href="/">Welkom</a></li>
			<li class="has-dropdown">
				<a class="hide-for-small" href="/peuterpedagogie">Onze werkwijze</a>
				<a class="show-for-small" href="#werkwijze">Onze werkwijze</a>
				<ul class="dropdown">
					<li><a href="/peuterpedagogie">Peuterpedagogie</a></li>
					<li><a href="/antroposofische-kinderopvang">Antroposofie</a></li>
					<li title="Veiligheid en kwaliteit"><a href="/veiligheid-en-kwaliteit" title="Veiligheid en kwaliteit">Veiligheid en kwaliteit</a></li>
					<li><a href="/duurzame-pedagogiek">Duurzaamheid</a></li>
					<li><a href="/foto-impressie">Foto impressie</a></li>
				</ul></li>
				<li class="has-dropdown">
					<a class="hide-for-small" href="/ontstaansgeschiedenis">Informatie</a>
					<a class="show-for-small" href="#informatie">Informatie</a>
					<ul class="dropdown">
						<li class="show-for-small"><a href="/ontstaansgeschiedenis">Informatie</a></li>
						<li><a href="/openingstijden">Openingstijden</a></li>
						<li><a href="/tarieven">Tarieven</a></li>
						<li><a href="/vve-subsidie">VVE subsidie</a></li>
						<li><a href="/peuterspeelgroep">Peuterspeelgroep</a></li>
						<li><a href="/reviews-van-ouders" class="active">Reviews van ouders</a></li>
					</ul></li>
					<li class="has-dropdown">
						<a class="hide-for-small" href="/kennismaken">Aanmelden</a>
						<a class="show-for-small" href="#aanmelden">Aanmelden</a>
						<ul class="dropdown">
							<li><a href="/kennismaken">Kennismaken</a></li>
							<li><a href="https://inschrijving.novict.nl/wnwP9psVRp8" target="_blank">Inschrijven</a></li>
						</ul></li>
						<li><a href="/vacatures">Vacatures</a></li>
						<li><a href="/contact">Contact  &amp; adres</a></li>
					</ul>
				</nav>
				<section class="branding row">
					<a href="/" title="{{ $.Site.Title }}" rel="home">
						<img src="/img/logo.png" class="logo" rel="home"alt="{{ $.Site.Title }}">
					</a>
					<h3>
						<span class="cl1">Spelen</span>
						<span class="cl2">in</span>
						<span class="cl3">de</span>
						<span class="cl4">natuur!</span>
					</h3>
					<h2>Kinderopvang en peuterspeelzaal</h2>
				</section>
			</header>
