<header class="main">
	<nav>


<input type="checkbox" id="overlay-input" />
<label for="overlay-input" id="overlay-button"><span></span></label>

	<!-- Primary Nav -->
<ul id="main-menu" class="main-nav right">
	<li><a href="/">Welkom</a></li>
	<li class="has-dropdown"><a href="/peuterpedagogie">Onze werkwijze</a>
		<ul class="dropdown"><li class="back show-for-small"><h5><a href="#">« 'Terug'</a></h5></li>
	<li class="show-for-small"><a href="/peuterpedagogie">Onze werkwijze</a></li>
	<li><a href="/peuterpedagogie">Peuterpedagogie</a></li>
	<li title="Veiligheid en kwaliteit"><a href="/veiligheid-en-kwaliteit" title="Veiligheid en kwaliteit">Veiligheid en kwaliteit</a></li>
	<li><a href="/duurzame-pedagogiek">Duurzaamheid</a></li>
	<li><a href="/foto-impressie">Foto impressie</a></li>
</ul></li>
	<li class="has-dropdown"><a href="/ontstaansgeschiedenis">Informatie</a>
		<ul class="dropdown"><li class="back show-for-small"><h5><a href="#">« 'Terug'</a></h5></li>
	<li class="show-for-small"><a href="/ontstaansgeschiedenis">Informatie</a></li>
	<li><a href="/openingstijden-0">Openingstijden</a></li>
	<li><a href="/tarieven-0">Tarieven</a></li>
	<li><a href="/vve-subsidie">VVE subsidie</a></li>
	<li><a href="/peuterspeelgroep">Peuterspeelgroep</a></li>
	<li><a href="/reviews-van-ouders" class="active">Reviews van ouders</a></li>
</ul></li>
	<li class="has-dropdown"><a href="/kennismaken">Aanmelden</a>
		<ul class="dropdown"><li class="back show-for-small"><h5><a href="#">« 'Terug'</a></h5></li>
	<li class="show-for-small"><a href="/kennismaken">Aanmelden</a></li>
	<li><a href="/kennismaken">Kennismaken</a></li>
	<li><a href="https://inschrijving.novict.nl/wnwP9psVRp8" target="_blank">Inschrijven</a></li>
</ul></li>
	<li><a href="/vacatures">Vacatures</a></li>
	<li><a href="/node/25">Contact  &amp; adres</a></li>
</ul>
	</nav>

<section class="branding row">
	<a href="/" title="{{ $.Site.Title }}" rel="home">
	<img src="/img/logo.png" class="logo" rel="home"alt="{{ $.Site.Title }}">
	</a>
	<h3>
		<span class="cl1">Spelen</span>
		<span class="cl2">in</span>
		<span class="cl3">de</span>
		<span class="cl4">natuur!</span>
	</h3>
	<h2>Kinderopvang en peuterspeelzaal</h2>
</section>
</header>
