<div class="row">
  <div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true, "autoPlay": 6000 }'>
  {{ range .slides }}
  <div class="carousel-cell">
    <img src="{{.image}}">
  </div>
  {{ end }}
</div>
</div>
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<style type="text/css">
	.flickity-prev-next-button { height: 110px; background-color: #fff; border-radius: unset;  }
.flickity-button.flickity-prev-next-button.previous { clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%); left: 0; }
.flickity-button.flickity-prev-next-button.next { clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%); right: 0; }
.flickity-button-icon {
  fill: #4b01bb;
}
</style>