header { background: #fff url("/img/top-bg-2.gif") no-repeat 100% 0; }
header nav { height: 45px; }

.branding { margin-top: 130px; }
.logo { max-width: 200px; margin-left: -7px; }
.branding h3 { font-size: 24px; margin-bottom: 0; margin-top: -5px; }
.branding h2 { color: #cb08d7; display: inline-block;}
header h2, #sidebar h2 {    font-size: 2.3125em;}