{{ define "main" }}


<div class="row flex">
  <main class="content">
    <h1>{{ .Params.Title }}</h1>
    <h2>{{ replace .Params.Subtitle "\n" "<br/>" | safeHTML }}</h2>
    {{ .Content }}
  </main>
<aside id="sidebar">
<h2>Actueel</h2>
<a href="/agenda">Agenda</a>
{{ range first 3 (where .Site.RegularPages "Section" "post") }}
            {{ .Render "li"}}
{{ end }}
{{ if gt (where .Site.RegularPages "Section" "==" "post") 2 }}
<p><a href="/post" class="more-posts">Meer nieuws lezen</a></p>
{{ end }}
</aside>
</div>


{{ end }}
