@import './imports/menu';
@import './imports/header';
@import './imports/footer';
@import './imports/slider';


html, body { margin: 0; padding: 0; font-display: swap; font-family: "Roboto",sans-serif; color: #4b01bb; text-rendering: optimizeLegibility; background-color: #fff; }

.content { width: 100%; background-color: #fff; }
.flex { display: flex; }
@media screen and (max-width: 759px) { .flex {flex-wrap: wrap; }}
article { flex: 1 0 auto; }
aside#sidebar { width: 25%; padding-left: 1.8375em}

a { color: #4b01bb; text-decoration: underline; }
.row { max-width: 58.5em; margin-left: auto; margin-right: auto; padding-left: 0.9375em; padding-right: 0.9375em; position: relative; z-index: 20;}
.cl1 { color: #854fd8 }
.cl2 { color: #4b01bb }
.cl3 { color: #cb08d7 }
.cl4 { color: #7c06a3 }

h1 { font-size: 2.6em; }
h2 { font-weight: 900; font-size: 20px; }
h1, h2, h3, h4, h5, h6 { font-weight: 900; }

iframe { max-width: 100%; }

.button { display: inline-block; color: #fff; text-decoration: none; transition: background-color 300ms ease-out; padding: 15px 18px; font-weight: bold; }
.button.purple { background-color: #4b01bb; }
.button.pink { background-color: #cb08d7; }
.button.purple:hover { background-color: #370188; }
.button.pink:hover { background-color: #9d06a6; }



