@import './imports/menu';
@import './imports/header';
@import './imports/footer';
@import './imports/slider';


html, body { line-height: 1.6; margin: 0; padding: 0; font-display: swap; font-family: "Roboto",sans-serif; color: #4b01bb; text-rendering: optimizeLegibility; background-color: #fff; }

.content { width: 100%; background-color: #fff; }
.flex { display: flex; }

article { flex: 1 0 auto; }
aside#sidebar { width: 25%; padding-left: 4em}

a { color: #4b01bb; text-decoration: underline; }
a:hover { color: #cb08d7; }
.row { max-width: 58.5em; margin-left: auto; margin-right: auto; padding-left: 0.9375em; padding-right: 0.9375em; position: relative; z-index: 20;}
.row img { max-width: 100%; }
.cl1 { color: #854fd8 }
.cl2 { color: #4b01bb }
.cl3 { color: #cb08d7 }
.cl4 { color: #7c06a3 }

h1 { font-size: 2.6em; }
h2 { font-weight: 900; font-size: 20px; }
h1, h2, h3, h4, h5, h6 { font-weight: 900; }

.content h3 {
	border-bottom: #cb08d7 1px solid;
color: #cb08d7;
}
hr { color: #cb08d7; }

iframe { max-width: 100%; }

.button { display: inline-block; color: #fff; text-decoration: none; transition: background-color 300ms ease-out; padding: 15px 18px; margin-right: 5px; font-weight: bold; border: none; }
.button.purple { background-color: #4b01bb;  }
.button.pink { background-color: #cb08d7; }
.button.purple:hover { background-color: #370188; color: #fff; }
.button.pink:hover { background-color: #9d06a6; color: #fff;  }

@media screen and (max-width: 759px) { .flex {flex-wrap: wrap; } aside#sidebar { padding-left: 0; width: 100%; }}




table {	width: 100%; }
.openingstijden table {  text-align: center; }
th, td { padding: 15px 3px; vertical-align: top; }
td:first-child { text-align: left;}
td p { margin-top: 0; }
tr:nth-child(even) {background: #f2f2f2}
tr:nth-child(odd), tr.h3 {background: #FFF}
tr.afgelast { color: #808080; }
.afgelast td:nth-child(1) { text-decoration: line-through; }
td h3 { margin: 0; }
.float-left { float: left; margin-right: 12px; }

.beschikbare-plaatsen { display: none; }
#beschikbare-plaatsen:checked ~ .beschikbare-plaatsen { display: block; }
label { display: block; padding: 1em 0 0.3em 0; clear: both; }
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea,  {
	width: 100%; max-width: 500px; border: 1px solid #cccccc; padding: 0.5em; height: 2.3125em;
}
select { min-width: 130px;  border: 1px solid #cccccc; padding: 0.5em; height: 2.3125em; }
span.required { color: #f00; }