{{ define "main" }}

{{ partial "slider" .Params }}

{{ partial "page" . }}

<div class="row">
	<iframe width="560" height="315" src="" data-src="{{.Params.youtube}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<script type="text/javascript">
		function init() {

  var vidDefer = document.getElementsByTagName('iframe');
  for (var i=0; i<vidDefer.length; i++) {
    if(vidDefer[i].getAttribute('data-src')) {
      vidDefer[i].setAttribute('src',vidDefer[i].getAttribute('data-src'));
} } }
window.onload = window.setTimeout(init,2000);
//window.onscroll = init;
	</script>
</div>
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<style type="text/css">
	.flickity-prev-next-button { height: 110px; background-color: #fff; border-radius: unset;  }
.flickity-button.flickity-prev-next-button.previous { clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%); left: 0; }
.flickity-button.flickity-prev-next-button.next { clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%); right: 0; }
.flickity-button-icon {
  fill: #4b01bb;
}
</style>
{{ end }}